- title 'A Cafe | Home'
.flexslider
  %ul.slides
    %li= image_tag 'http://placehold.it/1080x500/ffffff/bbbbbb&text=Image+1'
    %li= image_tag 'http://placehold.it/1080x500/f8f8f8/bbbbbb&text=Image+2'
    %li= image_tag 'http://placehold.it/1080x500/888888/bbbbbb&text=Image+3'
.clear
.content
  %p
    Our Cafe is a great place to get away from the office for your
    breakfast, lunch or even just a coffee break. It's a place to meet with your friends,
    have an out of office meeting, or a relaxing space to simply chill out.
  %h4 Coffee
  %p
    We believe coffee should be ground so we do just that, we grind our coffee
    from 100% arabica beans. We don’t press buttons or spoon it out of a tin,
    all of our coffee is espresso based and you can really taste the
    difference. For those looking for a lighter beverage we also have
    decaffinated.
  %h4 Cakes
  %p
    For those with a sweet tooth you can be sure to find a slice of cake to
    excite your tastebuds. All of our cakes are baked by Jane, recommended by
    many as the best cakes around. Jane comes from a baking family and has many
    years experience which really shows. Come on in try a slice, you won't be
    disapointed.
  %h4 Breakfast
  %p
    We have a wide choice ranging from all-day breakfast, poached egg on toast,
    to granola sundae. In need of a quick bite before you day at work... How
    does tea and toast sound?
  %h4 Lunch
  %p
    We have a range of both hot and cold lunches on our menu. Including home
    made soups, roast chicken or pork baguettes, salads or you can choose from our daily
    specials board, perhaps a paella or a risotto?
  %h4 WiFi
  %p
    If you would like some time out of the office, why not come to our Cafe
    with your laptop and and enjoy a nice cup of coffee whilst you work. We
    provide free WiFi for all of our customers
