- title 'A Cafe | Location'
.content
  %h4 Want to know how to find us?
  %p We are located in the Bloomfields Bakery Building on Churchfields Estate.
  %p Enter Churchfields Estate from Churchfields Road at the mini-roundabout by Pets Corner.
  %p Take the second right into Newtonian Road just after Fayballs Motorcycles
  %p The Cafe is on the left opposite Graham Dingers and Softies Sweaters
  %p The customer carparking is at the front of the building
#map_canvas
  <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=cafe&amp;aq=&amp;sll=52.214339,-0.043945&amp;sspn=10.630539,24.960938&amp;ie=UTF8&amp;t=m&amp;st=115968771510351694523&amp;rq=1&amp;ev=p&amp;split=1&amp;hq=cafe&amp;hnear=&amp;ll=53.800651,-4.064941&amp;spn=11.014236,24.960938&amp;output=embed"></iframe>
