.markdown-key
  = link_to image_tag('format_guide_toggle.png'),'javascript: void(0);', class: :markdown_toggle

  .content
    %h1 h1: # content #

    %h2 h2: ## content ##

    %h3 h3: ### content ###

    %h4 h4: #### content ####

    %h5 h5: ##### content #####

    %h6 h6: ###### content ######

    %h6
      %em Italic h6: ###### _content_ ######

    %em Italic: _content_
    %br

    %b Bold: **content**
    %br

    %b
      %em Bold & Italic: **_content_**

    %ul
      %li Bullet Point: - content
      %li Bullet Point: - content
      %li Bullet Point: - content
      %li Bullet Point: - content
      %li Bullet Point: - content
.clear
