/*  =HEADER
----------------------------------------------------------------------*/

header {

  .logo {
    text-align: center;
    margin-bottom: 30px;

    .address {
      margin-bottom: 30px;
      padding: 10px 0;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
      letter-spacing: 2px;
      background-color: #6BBFBE;
      position: relative;
      z-index: 100;
    }

    h1 {
      display: none;
      letter-spacing: 10px;
      margin: 0 3.922%;
      font-weight: bold;
      color: $bodycolor;
    }

    #butterfly_container{
      height:145px;
      display: none;
      overflow: hidden;

      .butterfly {
        width: 200px;
        height: 145px;
        display: none;
      }
    }
  }

  .nav {
    @include full;
    height: 46px;
    margin-bottom: 30px;
    border: 2px dotted white;
    background-color: #6BBFBE;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

    ul {
      padding: 0;
      display: inline;
      list-style-type: none;
      width: 100%;

      li {
        display: inline-block;
        float: left;
        width: 32.4%;
        text-align: center;
        padding-top: 14px;
        margin-bottom: -16px;

        a {
          padding-left: 13%;
          padding-right: 13%;
          text-align: center;
          font-family: 'helvetica neue';
          text-decoration: none;
          color: white;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
            padding: 10px 15%;
            background-color: rgba(0,0,0,0.2);
          }
        }
      }
    }
  }
}
