- content_for :menu_item_form_button do
  = link_to 'Cancel', [:admin, @section, @category], class: 'btn'
%h1 #{@section.name.titleize} / #{@category.name} Category / New Menu Item
%br
%br
= render 'form'
