.content {
  margin-top: 30px;
  padding: 30px 30px 21px;
  margin-bottom: 30px;
  color: #468847;
  text-shadow: 1px 1px 0 white;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;

  h1, h2, h3, h4, h5, h6 {
    color: white;
    padding: 5px 0 4px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #62B368;
    border: 2px solid white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }
}
