@import 'compass_twitter_bootstrap';

.specials-board {
  margin-top: 30px;
  padding: 30px 30px 21px;
  margin-bottom: 30px;
  color: #468847;
  text-shadow: 1px 1px 0 white;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;

  .price {
    float:right;
    width: 80px;
    text-align: right;
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
  }

  .menu-items {
    background-color: #DFF0D8;

    .menu-item {
      border-bottom: 1px solid #D6E9C6;
      margin-top: 5px;

      &.last {
        border: 0;
      }

      .item-info {
        float: left;
        max-width: 75%;

        h4 {
          letter-spacing: 1px;
          color: #468847;
        }

        p {
        }
      }
    }
  }
}

.menu-banner {
  width: 100%;
  text-align: center;
  padding: 14px 0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 30px;
  background-color: #6BBFBE;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

ul.menu-nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 0 -2px 5px;

  li {
    display: inline-block;
    margin-left: -5px;
    padding: 10px 0;

    &.active {
      border: 1px solid #D6E9C6;
      border-bottom: none;
      background-color: #DFF0D8;

      a {

        &:hover {
          border: none;
          background-color: #DFF0D8;
          padding: 10px
        }
      }
    }

    a {
      color: #468847;
      padding: 10px;

      &:hover {
        color: #468847;
        text-decoration: none;
        background-color: #F4FCF0;
        border: 1px solid #D6E9C6;
        margin: 0;
        padding: 11px 9px 10px;
      }
    }
  }
}

.which-menu {
  margin: 0 0 30px 0;
  list-style: none;
  display: inline-block;
  width: 100%;

  li {
    display: inline-block;
    width: 48.5%;
    text-align: center;
    background-color: #62B368;
    opacity: 0.6;
    padding: 10px 0;
    border: 2px dotted white;

    &.active {
      opacity: 1;
    }

    a {
      color: white;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.menu {
  padding: 0 30px 21px;
  margin-bottom: 30px;
  color: #468847;
  text-shadow: 1px 1px 0 white;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;

  .menu-content {
    background-color: #DFF0D8;

    .category-image {
      width: 40%;
      float: left;
      margin-top: 30px;
      padding: 10px;
      background-color: white;
      border: 1px solid #ddd;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      margin-right: 30px;
    }

    .category-description {
      float: left;
      margin-top: 30px;
      width: 45%;
    }

    h1, h2, h3, h4, h5, h6 {
      letter-spacing: 1px;
      color: #468847;
      text-transform: none;
    }

    .menu-items {
      margin-top: 30px;
      background-color: #DFF0D8;

      .menu-item {
        border-bottom: 1px solid #D6E9C6;
        margin-top: 5px;

        &.last {
          border: 0;
        }

        .item-info {
          float: left;
          max-width: 75%;
        }
      }
    }
  }

  .price {
    float:right;
    width: 80px;
    text-align: right;
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
  }
}
