.logo
  %p.address
    A Cafe - Any Road - Somewhere - A Town - SF6 9IX - 07545 332984
  #butterfly_container= image_tag 'butterfly.png', alt: 'butterfly', class: :butterfly
  %h1 A Cafe
.nav
  %ul
    %li= link_to 'Home', root_path
    %li= link_to 'Menu', menu_path
    %li= link_to 'Location', location_path
    .clear
  .clear
